/*
========================================================================================
    Nextflow config file for genomes paths
========================================================================================
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.genomes_base / --genomes_base
----------------------------------------------------------------------------------------
*/

params {
    genomes_base = "s3://bioskryb-public-data/pipeline_resources"
    genomes {
        
        'GRCh38' {
            
            reference                     = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/GATK_bundle/Sequence"
            rna_reference                 = "${params.genomes_base}/genomes/Homo_sapiens/RNAseq_Ensembl_104/Sequence/"
            base_metrics_intervals        = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Intervals/wgs_intervals.bed"
            dbsnp                         = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/GATK_bundle/dbsnp_138/dbsnp.vcf.gz"
            dbsnp_index                   = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/GATK_bundle/dbsnp_138/dbsnp.vcf.gz.tbi"
            clinvar                       = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Clinvar/20220214/clinvar.vcf.gz"
            clinvar_index                 = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Clinvar/20220214/clinvar.vcf.gz.tbi"
            mills                         = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/GATK_bundle/Mills_and_1000G_gold_standard_indels/Mills_and_1000G_gold_standard.indels.vcf.gz"
            mills_index                   = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/GATK_bundle/Mills_and_1000G_gold_standard_indels/Mills_and_1000G_gold_standard.indels.vcf.gz.tbi"
            onekg                         = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/GATK_bundle/1000G_phase1/1000G_phase1.snps.high_confidence.vcf.gz"
            onekg_index                   = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/GATK_bundle/1000G_phase1/1000G_phase1.snps.high_confidence.vcf.gz.tbi"
            hapmap                        = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/GATK_bundle/hapmap_3.3/hapmap.vcf.gz"
            hapmap_index                  = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/GATK_bundle/hapmap_3.3/hapmap.vcf.gz.tbi"
            onekg_omni                    = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/GATK_bundle/1000G_omni2.5/1000G_omni.vcf.gz"
            onekg_omni_index              = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/GATK_bundle/1000G_omni2.5/1000G_omni.vcf.gz.tbi"
            wgs_or_target_intervals       = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/GATK_bundle/wgs_coverage_regions.interval_list"
            calling_intervals_filename    = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/GATK_bundle/wgs_calling_regions_incl_chrM.interval_list"
            snpeff_db                     = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/SnpEff/data"
            snpeff_genome_name            = "GRCh38.99"
            kraken2_db                    = "${params.genomes_base}/dev-resources/minikraken2_v2_8GB_201904_UPDATE"
            dbnsfp                        = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/dbNSFP4.2c/resources/dbNSFP4.2c_chr.txt.gz"
            dbnsfp_index                  = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/dbNSFP4.2c/resources/dbNSFP4.2c_chr.txt.gz.tbi"
            dnascope_model                = "${params.genomes_base}/dev-resources/SentieonDNAScopeModel/SentieonDNAscopeModel1.1.model"
            vcfeval_reference_sdf_ref     = "${params.genomes_base}/dev-resources/rtg_human_SDF/"
            roi_intervals                 = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Intervals/Exome_panels/IDT/IDT.Exomev2.targets.hg38.interval_list"
            variant_annotation_genic_intervals = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Intervals/Exome_panels/IDT/IDT.Exomev2.targets.hg38.bed"
            refseq                        = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Genes/ncbiRefSeq.txt"
            species_name                  = "human"
            petasuite_reference           = "${params.genomes_base}/dev-resources/petasuite/species/human"
            genic_intervals               = "${params.genomes_base}/dev-resources/IDT.Exomev2.targets.hg38.bed"
            // TMB specific params
            design_file                   = "${params.genomes_base}/dev-resources/TMB/hg38/ExampleWESdesign.bed"
            tmb_genome                    = "hg38"
            //
            
            'HG001' {
                giab_genome_name              = "HG001"
                vcfeval_baseline_vcf          = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG001_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
                vcfeval_baseline_vcf_index    = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG001_GRCh38_1_22_v4.2.1_benchmark.vcf.gz.tbi"
                vcfeval_baseline_regions      = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG001_GRCh38_1_22_v4.2.1_benchmark.bed"
                vcfeval_bed_regions           = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG001_GRCh38_1_22_v4.2.1_wgs_bedregions_eval.bed"
            }
            
            'HG002' {
                giab_genome_name              = "HG002"
                vcfeval_baseline_vcf          = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG002_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
                vcfeval_baseline_vcf_index    = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG002_GRCh38_1_22_v4.2.1_benchmark.vcf.gz.tbi"
                vcfeval_baseline_regions      = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG002_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
                vcfeval_bed_regions           = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG002_GRCh38_1_22_v4.2.1_benchmark_noinconsistent_wgs_bedregions_eval.bed"
            }

            'HG002-T2T' {
                giab_genome_name              = "HG002"
                vcfeval_baseline_vcf          = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_T2TQ100_v1.1/GRCh38_HG2-T2TQ100-V1.1.vcf.gz"
                vcfeval_baseline_vcf_index    = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_T2TQ100_v1.1/GRCh38_HG2-T2TQ100-V1.1.vcf.gz.tbi"
                vcfeval_baseline_regions      = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_T2TQ100_v1.1/GRCh38_HG2-T2TQ100-V1.1_smvar.benchmark.bed"
                vcfeval_bed_regions           = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_T2TQ100_v1.1/GRCh38_HG2-T2TQ100-V1.1_smvar.benchmark_wgs_bedregions_eval.bed"

            }
            
            
            'HG003' {
                giab_genome_name              = "HG003"
                vcfeval_baseline_vcf          = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG003_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
                vcfeval_baseline_vcf_index    = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG003_GRCh38_1_22_v4.2.1_benchmark.vcf.gz.tbi"
                vcfeval_baseline_regions      = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG003_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
                vcfeval_bed_regions           = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG003_GRCh38_1_22_v4.2.1_benchmark_noinconsistent_wgs_bedregions_eval.bed"
            
            }
            
            
            'HG004' {
                giab_genome_name              = "HG004"
                vcfeval_baseline_vcf          = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG004_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
                vcfeval_baseline_vcf_index    = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG004_GRCh38_1_22_v4.2.1_benchmark.vcf.gz.tbi"
                vcfeval_baseline_regions      = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG004_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
                vcfeval_bed_regions           = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG004_GRCh38_1_22_v4.2.1_benchmark_noinconsistent_wgs_bedregions_eval.bed"
            
            }
            
            'HG005' {
                giab_genome_name              = "HG005"
                vcfeval_baseline_vcf          = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG005_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
                vcfeval_baseline_vcf_index    = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG005_GRCh38_1_22_v4.2.1_benchmark.vcf.gz.tbi"
                vcfeval_baseline_regions      = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG005_GRCh38_1_22_v4.2.1_benchmark.bed"
                vcfeval_bed_regions           = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG005_GRCh38_1_22_v4.2.1_benchmark_wgs_bedregions_eval.bed"
            
            }
            
            'HG006' {
                giab_genome_name              = "HG006"
                vcfeval_baseline_vcf          = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG006_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
                vcfeval_baseline_vcf_index    = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG006_GRCh38_1_22_v4.2.1_benchmark.vcf.gz.tbi"
                vcfeval_baseline_regions      = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG006_GRCh38_1_22_v4.2.1_benchmark.bed"
                vcfeval_bed_regions           = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG006_GRCh38_1_22_v4.2.1_benchmark_wgs_bedregions_eval.bed"
            
            }
            
            
            'HG007' {
                giab_genome_name              = "HG007"
                vcfeval_baseline_vcf          = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG007_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
                vcfeval_baseline_vcf_index    = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG007_GRCh38_1_22_v4.2.1_benchmark.vcf.gz.tbi"
                vcfeval_baseline_regions      = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG007_GRCh38_1_22_v4.2.1_benchmark.bed"
                vcfeval_bed_regions           = "${params.genomes_base}/genomes/Homo_sapiens/GIAB/GRCh38_v4.2.1/HG007_GRCh38_1_22_v4.2.1_benchmark_wgs_bedregions_eval.bed"
            
            }
            
            'Illumina' {
                'sentieon' {
                    'exome' {
                        dnascope_model    = "${params.genomes_base}/dev-resources/SentieonDNAScopeModel/DNAscopeIlluminaWES2.0.bundle"
                    }

                    'wgs' {
                        dnascope_model    = "${params.genomes_base}/dev-resources/SentieonDNAScopeModel/DNAscopeIlluminaWGS2.0.bundle"
                    }
                }

                'bioskryb129' {
                    'exome' {
                        dnascope_model    = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/DNAScope/Illumina/bioskryb-129"
                    }

                    'wgs' {
                        dnascope_model    = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/DNAScope/Illumina/bioskryb-129"
                    }
                }
            }

            'Ultima' {
                'sentieon' {
                    'exome' {
                        dnascope_model    = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/DNAScope/Ultima/1.0/SentieonUltima1.0.bundle"
                        
                    }

                    'wgs' {
                        dnascope_model    = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/DNAScope/Ultima/1.0/SentieonUltima1.0.bundle"
                    }
                }
            }

            'Element' {
                'sentieon' {
                    'exome' {
                        dnascope_model    = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/DNAScope/Element/1.0/SentieonElement1.0.bundle"
                    }

                    'wgs' {
                        dnascope_model    = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/DNAScope/Element/1.0/SentieonElement1.0.bundle"
                    }
                }
            }

            

            'xGen Exome Hyb Panel v2' {
                wgs_or_target_intervals       = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Intervals/Exome_panels/IDT/IDT.Exomev2.targets.hg38.interval_list"
                calling_intervals_filename    = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Intervals/Exome_panels/IDT/IDT.Exomev2.targets.hg38.interval_list"
                vcfeval_bed_regions           = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Intervals/Exome_panels/IDT/IDT.Exomev2.targets.hg38.bed"
            }
            
            'TruSight One' {
                wgs_or_target_intervals       = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Intervals/Exome_panels/TruSight/trusight_one_expanded_v2_grch38.interval_list"
                calling_intervals_filename    = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Intervals/Exome_panels/TruSight/trusight_one_expanded_v2_grch38.interval_list"
                vcfeval_bed_regions           = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Intervals/Exome_panels/TruSight/trusight_one_expanded_v2_grch38.bed"
            }
                
            'TWIST' {
                wgs_or_target_intervals       = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Intervals/Exome_panels/Twist/Twist_Exome_Target_hg38.interval_list"
                calling_intervals_filename    = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Intervals/Exome_panels/Twist/Twist_Exome_Target_hg38.interval_list"
                vcfeval_bed_regions           = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Intervals/Exome_panels/Twist/Twist_Exome_Target_hg38.bed"
            }
            
            'Agilent Clinical Exome' {
                wgs_or_target_intervals       = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Intervals/Exome_panels/AgilentClinicalExome/AgilentClinicalExome_S34226467.interval_list"
                calling_intervals_filename    = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Intervals/Exome_panels/AgilentClinicalExome/AgilentClinicalExome_S34226467.interval_list"
                vcfeval_bed_regions           = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Intervals/Exome_panels/AgilentClinicalExome/AgilentClinicalExome_S34226467.bed"

            }

            // CNV/Ginkgo bin specific reference files 
            '500000' {
                ginko_ref_dir             = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Ginkgo_reference/"
            }
              
            '1000000' {
               ginko_ref_dir              = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Ginkgo_reference/"
            }
              
            '2000000' {
                ginko_ref_dir             = "${params.genomes_base}/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Ginkgo_reference/"
            }
            
            //RNA
            star_index              = "${params.genomes_base}/dev-resources/star_chr_eqnames_wgs/index_ensemble/"
            salmon_index            = "${params.genomes_base}/dev-resources/salmon_chr_eqnames_wgs/index/"
            tx2gene                 = "${params.genomes_base}/dev-resources/salmon/Ensemble_GRCh38_cDNA-ncRNA.complete.tx2gene"
            gtf_file                = "${params.genomes_base}/dev-resources/star_chr_eqnames_wgs/Homo_sapiens.GRCh38.104.chr.gtf"
            genebody_ref            = "${params.genomes_base}/dev-resources/star_chr_eqnames_wgs/hg38.HouseKeepingGenes.bed"
    
            //SV
            variant_catalog         = "${params.genomes_base}/dev-resources/expansion_hunter_catalog/GRCh38/variant_catalog.json"

            //MAPD
            blacklist_regions             = "${params.genomes_base}/dev-resources/blacklist_regions/hg38-blacklist.v2.bed"
            
        }
        
        'GRCm39' {
            reference                     = "${params.genomes_base}/genomes/Mus_musculus/NCBI/GRCm39/Sequence/BWAIndex"
            base_metrics_intervals        = "${params.genomes_base}/genomes/Mus_musculus/NCBI/GRCm39/Annotation/Intervals/wgs_intervals.bed"
            dbsnp                         = "${params.genomes_base}/genomes/Dummy/Dummy_dbsnp.txt"
            dbsnp_index                   = "${params.genomes_base}/genomes/Dummy/Dummy_dnsnp_index.txt"
            clinvar                       = ""
            clinvar_index                 = ""
            mills                         = "${params.genomes_base}/genomes/Dummy/Dummy_mills.txt"
            mills_index                   = "${params.genomes_base}/genomes/Dummy/Dummy_mills_index.txt"
            onekg                         = ""
            onekg_index                   = ""
            hapmap                        = ""
            hapmap_index                  = ""
            onekg_omni                    = "${params.genomes_base}/genomes/Dummy/Dummy_onekg_omni.txt"
            onekg_omni_index              = "${params.genomes_base}/genomes/Dummy/Dummy_onekg_omni_index.txt"
            wgs_or_target_intervals       = "${params.genomes_base}/genomes/Mus_musculus/NCBI/GRCm39/Annotation/Intervals/wgs_intervals_list"
            calling_intervals_filename    = "${params.genomes_base}/genomes/Mus_musculus/NCBI/GRCm39/Annotation/Intervals/wgs_intervals_list"
            snpeff_db                     = ""
            snpeff_genome_name            = ""
            kraken2_db                    = "${params.genomes_base}/dev-resources/minikraken2_v2_8GB_201904_UPDATE"
            dbnsfp                        = ""
            dbnsfp_index                  = ""
            dnascope_model                = "${params.genomes_base}/genomes/Dummy/Dummy_dnascope_model.txt"
            vcfeval_baseline_vcf          = ""
            vcfeval_baseline_vcf_index    = ""
            vcfeval_baseline_regions      = ""
            vcfeval_bed_regions           = ""
            vcfeval_reference_sdf_ref     = ""
            roi_intervals                 = ""
            variant_annotation_genic_intervals = ""
            refseq                        = ""
            species_name                  = "mouse"
            petasuite_reference           = ""

            // CNV/Ginkgo bin specific reference files 
            '500000' {
                ginko_ref_dir             = "${params.genomes_base}/genomes/Mus_musculus/NCBI/GRCm39/Annotation/Ginkgo_reference/RL76_Bin500KB/"
            }
              
            '1000000' {
               ginko_ref_dir              = "${params.genomes_base}/genomes/Mus_musculus/NCBI/GRCm39/Annotation/Ginkgo_reference/RL76_Bin1MB/"
            }
              
            '2000000' {
                ginko_ref_dir             = "${params.genomes_base}/genomes/Mus_musculus/NCBI/GRCm39/Annotation/Ginkgo_reference/RL76_Bin2MB/"
            }
            
            //RNA
            star_index              = "${params.genomes_base}/dev-resources/star_GRCm39v107/index/"
            salmon_index            = "${params.genomes_base}/dev-resources/salmon_GRCm39v107/index/"
            tx2gene                 = "${params.genomes_base}/dev-resources/salmon_GRCm39v107/Ensemble_GRCm39v107_cDNA-ncRNA.tx2gene"
            gtf_file                = "${params.genomes_base}/dev-resources/salmon_GRCm39v107/Mus_musculus.GRCm39.107.noTEC.gtf"
            genebody_ref            = "${params.genomes_base}/dev-resources/star_GRCm39v107/mm10.HouseKeepingGenes.bed"
            blacklist_regions       = "${params.genomes_base}/dev-resources/blacklist_regions/mm39.excluderanges.bed"
            
        }
    }
}
