params {
    input_csv                  = "$baseDir/tests/data/inputs/input.csv"
    publish_dir                = "results/bj-wgs"
    architecture               = "x86"

    skip_gene_coverage          = true
    skip_vcfeval                = true
    skip_variant_annotation     = false
    skip_ado                    = true

    max_memory                 = 14.GB
    max_cpus                   = 4
    max_time                   = 2.h
}

process {
    containerOptions = "--env LOCAL=true --env SENTIEON_LICENSE_SERVER=${baseDir}/sentieon_eval.lic -v ${baseDir}/sentieon_eval.lic:${baseDir}/sentieon_eval.lic"
}